<div class="banner" style="background-image: asset-url('home/banner.jpg');">
  <div class="container">
    <h1><strong>S</strong>mith <strong>P</strong>aragliding <strong>S</strong>chool</h1>
    <p><span id="banner-typed-text"></span></p>
  </div>
</div>

<div class="container">
  <h2> You want to discover Free Fly ? 🤘</h2>
  <p>Come with us soaring with the birds high above the charming Swiss village of Villars-Sur-Ollon.</p>
  <p>The professional pilots of Smith Paragliding can safely introduce you to the sky ! 🌍</p>
    <p>They are masters of all forms of foot launched flight and are recognized by the Swiss Federal Aviation Administration and Paragliding Federation</p>
</div>

<div class="card-group">
  <div class="card">
    <%= image_tag "home/tandem.png", class:"card-img-top", width: 400, height: 400 %>
    <div class="card-body">
      <h5 class="card-title">Tandem Flight</h5>
      <p class="card-text">You want to experience flying like a bird ?</p>
      <p class="card-text">Thanks to welQome, the QoQa and Canton of Vaud plateform, you can get a 20% discount if you book now !</p>
      <button type="button" class="btn btn-primary btn-sm">Book Now !</button>
    </div>
  </div>
  <div class="card">
    <%= image_tag "home/paragliding.png", class:"card-img-top", width: 400, height: 400  %>
    <div class="card-body">
      <h5 class="card-title">Paragliding Instruction</h5>
      <p class="card-text">You already experienced flying and want to learn flying by yourself ?</p>
      <p class="card-text">Contact us, the Smith Paragliding team will instruct you until you get your the licence 🚀</p>
      <button type="button" class="btn btn-primary btn-sm">Interested !</button>
    </div>
  </div>
  <div class="card">
    <%= image_tag "home/speedflying.png", class:"card-img-top", width: 400, height: 400  %>
    <div class="card-body">
      <h5 class="card-title">Speed Flying Instruction</h5>
      <p class="card-text">You are already a paraglider and want to go to next step as Speed Flying ?</p>
      <p class="card-text">Contact us, the Smith Paragliding team will instruct you until you get your the licence 🚀</p>
      <button type="button" class="btn btn-primary btn-sm">Interested !</button>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <%= image_tag "home/delta.png", class:"card-img-top", width: 400, height: 400 %>
    <div class="card-body">
      <h5 class="card-title">Delta Instruction</h5>
      <p class="card-text">You prefer flying with a delta ? </p>
      <p class="card-text">Thanks to welQome, you can get a 20% discount if you book now !</p>
      <button type="button" class="btn btn-primary btn-sm">Interested !</button>
    </div>
  </div>
  <div class="card">
    <%= image_tag "home/upgrade.png", class:"card-img-top", width: 400, height: 400  %>
    <div class="card-body">
      <h5 class="card-title">Practice Upgrade</h5>
      <p class="card-text">You did not fly from a long time and want to restart ?</p>
      <p class="card-text">It is time to upgrade your practical skills !</p>
      <button type="button" class="btn btn-primary btn-sm">Interested !</button>
    </div>
  </div>
  <div class="card">
    <%= image_tag "home/qcm.png", class:"card-img-top", width: 400, height: 400  %>
    <div class="card-body">
      <h5 class="card-title">Theory License</h5>
      <p class="card-text">The Smith Paragliding web app helps you to study your theory license. With a student acces you got lot of sources and can train yourself with FSVL multiple-choice questions</p>
      <button type="button" class="btn btn-primary btn-sm">See a demo !</button>
    </div>
  </div>
</div>



